@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
    padding: 10px;
    height: 100vh;
}

.container {
    background-color: white;
    display: flex;
    width: 100%;
    gap: 10px;

}

/*------------------------ Left sideBar Styling---------------- */
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97%;
    position: fixed;
    padding: 0.5rem;
    width: 17%;
    border: 1px solid rgba(128, 128, 128, 0.197);
    border-radius: 5px;
    min-width: 220px;
    transition: 0.3s ease-in-out;
}

.leftTop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.leftTop img {
    width: 40px;
}

.leftTop div img {
    border-radius: 50%;
}

.leftTop>div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.team>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.team:hover {
    background-color: rgb(219, 219, 219);
    transform: scale(103%);
}

.team>p {
    background-color: aliceblue;
    font-size: 14px;
    color: grey;
    font-weight: bold;
    padding: 3px 4px;
    border-radius: 5px;
}

.folderName {
    display: flex;
}

.createTeam,
.folderHeading {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 0 5px;
    color: rgb(80, 83, 87);
}

.folderHeading {
    justify-content: space-between;
}

.createTeam i {
    font-size: 20px;
}

hr {
    margin: 10px 0;
}

/* Folders On Left Style */

.folderName {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 2px 10px;
    align-items: center;
}

.folderName div {
    display: flex;
    gap: 10px;
}

.subFolders {
    padding-left: 30px;
}

.subFolders {
    display: flex;
    align-items: center;

    font-size: 14px;
    gap: 10px;
    display: none;
}

.addSubFolder {
    display: flex;
    align-items: center;
    color: rgb(80, 83, 87);
    gap: 10px;
}

.downUpArrow {
    cursor: pointer;
}

.downUpArrow .fa-caret-up {
    display: none;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bottom-sub {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    width: 100%;
}

.bottom-sub:nth-child(3) {
    background-color: rgb(225, 239, 251);
    padding: 4px 8px;
    border-radius: 5px;
}

.bottom-sub div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.bottom-sub div span:nth-child(1) {
    background-color: rgb(211, 211, 211);
    padding: 0 6px;
    border-radius: 50%;
}

.bottom-sub div span:nth-child(3) {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
}

/*--------------------------Left SideBar Styling Ends Here-------------*/

/*--------------------- RIGHT CONTAINER STYLE ------------------------------------*/
.right {
    height: 97%;
    position: fixed;
    width: 81%;
    left: 18%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.197);
    transition: 0.3s ease-in-out;
}

.menuIcon {
    display: none;

}


.error td {
    font-weight: bold;
    text-align: center;
    color: red;
}

header,
.right-nav2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.197);
    border-radius: 10px 10px 0 0;

}

header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .searchbar {
    display: flex;
    gap: 5px;
    box-shadow: 0 0 2px 1px rgba(74, 77, 80, 0.607);
    border-radius: 7px;
    padding: 4px 5px;
}

header .fa-gear {
    padding: 4px 5px;
    box-shadow: 0 0 2px 1px rgba(74, 77, 80, 0.607);
    border-radius: 7px;
}

header div input {
    border: none;
    outline: none;
    width: 100%;
}

.right-nav2 {
    border-radius: 0px 0px 0 0;
    border: 1px solid rgba(128, 128, 128, 0.197);
    gap: 10px;
    flex-wrap: wrap;
}

.right-nav2>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-nav2>div>select {
    padding: 3px 5px;
    cursor: pointer;
}

.right-nav2 button {
    display: flex;
    gap: 10px;
    padding: 3px 5px;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(128, 128, 128);
    cursor: pointer;

}

.right-nav2 button:active {
    transform: scale(97%);
}

.right-nav2>div:nth-child(1) {
    flex-wrap: wrap;
}


.right-nav2 .sortAndFilter {
    display: flex;
    gap: 10px;
}

.sortAndFilter button {
    flex-grow: 1;
}

table {
    width: 100%;
    text-align: left;
    border: 1px solid gray;
    border-collapse: collapse;
}

tbody {
    width: 100%;
}

td,
th {
    border: 1px solid rgba(128, 128, 128, 0.197);
    padding: 5px;
    white-space: nowrap;
    max-width: 200px;
    overflow-x: scroll;
}

td::-webkit-scrollbar,
th::-webkit-scrollbar {

    display: none;
}

td:nth-child(1) {
    width: 20%;
}

td>div {
    display: flex;
    align-items: center;
}

td img {
    width: 30px;
}

.brandNames div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.category span,
.tags span {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 1px 3px;
    border-radius: 3px;
}

.tags span {
    background: rgba(191, 191, 191, 0.163);
}

.category div,
.tags div {
    display: flex;
    gap: 5px;
}

.members div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}

/* ------Delete, Archive, Selected Button Styling ---------------*/

.selectedAndDelete {
    display: flex;
    gap: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: max-content;
    padding: 5px 10px;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    top: 95%;
    transform: translate(-40%, -40%);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.184);
    background-color: rgba(229, 229, 229, 0.264);
}

.selectedAndDelete p {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.delete {
    color: brown;
}

.delete:active {
    transform: scale(97%);
}

.fa-gear {
    cursor: pointer;
}
/*  ------Delete, Archive, Selected Button Styling Ends Here --------------- */


/*----------------------- Media Query------------------------------------------- */

@media screen and (max-width:1265px) {
    .left {
        transform: translateX(-300px)
    }

    .right {
        width: 100%;
        left: 0px;
    }

    .menuIcon {
        display: block;

    }
}

@media screen and (max-width:920px) {
    .tags {
        display: none;
    }
}

@media screen and (max-width:710px) {
    .category {
        display: none;
    }

    .right-nav2>div:nth-child(1) {
        flex-grow: 1;

    }
}

@media screen and (max-width:536px) {
    .description {
        display: none;
    }

    .selectedAndDelete {
        display: none;
        background-color: rgba(97, 97, 97, 0.823);
        color: white;
    }
}
/* ------------------------------------------------------------------------------- */